*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}
nav{
    padding:20px;
}
/* Class Selectors */
.box{
    margin:1rem 0;
    border:1px solid rgba(0,0,0,.1);
    padding:1rem;
    background-color:#ddd;
    color:#000;

}

aside{
    position:relative;
    width:20rem;
    margin-left:20px!important;
    background-color:#eee;
    color:#333;
    text-align:center;
    
}
aside img{
    width:200px;
    height:auto;
}
aside h2{
    position:absolute;
    top:47px;
    left:150px;
}
main img{
    width:150px;
    height:auto;
    float:right;
}
main {
    padding:20px;
    /* float:left; */
    /* width:20rem; */
}
p{
    padding:0;
}
footer{
    margin-top:15px;
    border-top:1px solid #000;
    text-align:center;
} 
.clearfix{
    clear:both;
}
